<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <style>
        main{
            background-color: white;
            border: 2px solid black;
            border-radius: 90px;
            width: 500px;
            height: 900px;
            text-align: center;


        }
    </style>

<body>
    <h1>
        <br>

    <main>
        pokemon id: <%= id %>
        <br>
        pokemon name: <%= name %>
        <br>
        pokemon type: <%= type %>

        <br>
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/<%=id%>.png" alt="">
        <br>
        
        The HP is  
        <progress id="file" value="<%= hp %>" max="255"> <%= hp %>% </progress>
    </main>
</body>

</html> 